.handle-comp{
  border: 1px dashed var(--el-border-color);
}

.handle-comp:hover{
  border-color: var(--el-color-primary);
}

.handle-comp.handle-comp--active{
  border-style: solid;
  border-color: var(--el-color-primary);
}
.handle-comp .el-button{
  margin-right: 12px
}