@import './vars.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--theme-color);
  user-select: none;
}

div{
  box-sizing: border-box;
}

.noBorder {
  border: none;
}
.noBorder .el-input__wrapper {
  box-shadow: none !important;
}

.el-button.is-text {
  border-color: transparent;
  color: var(--el-color-primary);
  background: 0 0;
  padding-left: 6px;
  padding-right: 6px;
}

.el-button.is-text:focus,
.el-button.is-text:hover {
  background-color: transparent !important;
  opacity: 0.8;
}

.handle-comp {
  position: relative;
}
.handle-comp::after{
  content: '';
  width: 100%;
  height: 100%;
  border: 1px dashed transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}
.handle-comp .handleArea {
  display: none;
}
.handle-comp.handle-comp--active::after {
  border-color: var(--el-color-primary) !important;
}
.handle-comp.handle-comp--active > .handleArea {
  display: flex;
}
.handle-comp .el-button {
  margin-right: 12px;
}
.handleArea {
  position: absolute;
  z-index: 1;
  font-size: 12px;
  padding: 2px 4px;
  display: none;
  align-items: center;
  justify-content: center;
  height: 24px;
  bottom: 0;
  right: 0;
  color: #fff;
}
.handleArea > div {
  margin-left: 4px;
  cursor: pointer;
  background: #409eff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  height: 100%;
}

.el-dialog__body{
  padding-top: 10px !important;
}